// @ts-ignore
import { AtlasFrameBody } from "db://assets/scripts/proto/base/Message";
{%- for i in imports %}
import { {{ i }} } from "../type/{{ i }}";
{%- endfor %}

export interface {{ name }}Props {
{%- for f in fields %}
    {{ f.name }}: {{ f.ts_type }};
{%- endfor %}
}

export class {{ name }} extends AtlasFrameBody {
    static readonly OP_CODE = {{ module_id }} << 16 | {{ rpc_id }};

{%- for f in fields %}
    {{ f.name }}: {{ f.ts_type }};
{%- endfor %}

    constructor(props: {{ name }}Props) {
        super();
{%- for f in fields %}
        this.{{ f.name }} = props.{{ f.name }};
{%- endfor %}
    }
}
